body{
  box-sizing: border-box;
}
/*FOOTER*/
footer{
    display:grid;
    grid-template-columns: repeat(3 , 300px);
    grid-auto-rows: minmax(10px, auto);
    gap:0 100px;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(56, 185, 66);
    border: 5px solid black;

  }
footer section{
    display:flex;
    flex-direction: column;
    justify-self: center;
    width:300px;
    padding:20px;
}
#group-1,
#group-2{
  border-right: 5px solid black;
}
#group-1 p{
  margin:0;
}
#group-2 a,
#group-3 a {
  padding: 5px 0;
  color:black;
}
#group-2 a{
  width: 170px;
}
#group-3 a{
  width: 220px;
}
#group-3 img{
  margin-right:5px;
}
#sub-footer{
  width: 2000px;
  text-align: center;
  grid-row:2;
  grid-column: 2;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  justify-self: center;
  border-top: 5px solid black;
  border-bottom:2px;
  margin:0;
}
#sub-footer a{
  color: black
}

@media screen and (max-width: 1130px) {
  footer{
    grid-template-columns: repeat(3 , 160px);
    gap: 0;
  }
  #group-1 {
    grid-column: 1;
    grid-row: 1;
  }
  #group-2{
    grid-column: 1;
    grid-row:2;
  }
  #group-3{
    grid-column: 3;
    grid-row:1;
    margin-left: 75px;
  }
  #sub-footer{
    grid-row:3
  }
}

@media screen and (max-width: 680px){
  footer {
    display:flex;
    flex-direction:column;
  }
  #sub-footer{
    width:100%;
    padding: 15px ;
  }
#group-1,
#group-2{
  border-right: none;
}
#group-3{
  margin-left:0;
}
}